$white: rgb(255, 255, 255); // #fff
$light-white: rgb(246, 218, 218);
$pure-white: rgb(216, 216, 216);
$gold: #d6c78e;
$darkgold: #9b9165;
$red: #a01c35;
$dark: rgb(45, 45, 45); // #232323
$darker: rgb(25, 25, 25); // #191919

// w colorsach nie musze dawac roota bo nie bd korzystac z roota chyba 

// dodatkowo te rgba mozna zerknac czy nie trzeba variables zrobic