@media (min-width: 768px) {
  .wrapper {
    max-width: 76.8rem;
  }

  /* HEADER */
	.header {
    background-image: url('/dist/img/jungleBig.jpg');

		.hero-text {
      h1 {
        font-size: 2.2rem;
      }
  
      .company-description {
        font-size: 3rem;
      }
		}
	}

  	// FOOTER
	.footer {
		&__boxes {
			grid-template-columns: repeat(5, auto);
      padding: 4.5rem 0rem;

      .footer__box {
        &-title {
					font-size: 2.2rem;
				}

				&-list {
					margin-top: 1.3rem;

					&-item {
						margin-top: 1.3rem;

						a {
							font-size: 1.7rem;
						}
					}
				}
      }

			.box-third,
			.box-fourth {
        margin-top: 0;
			}

      :nth-child(1) {
        .footer__box-title {
          font-size: 4rem;
  
          .footer__box-logo {
            width: 4rem;
            height: 4rem;
          }
        }
      }

      .box-second {
        grid-column-start: 3;
        grid-column-end: 4;
      }

      .box-third {
        grid-column-start: 4;
        grid-column-end: 5;
      }

      .box-fourth {
        grid-column-start: 5;
        grid-column-end: 6;
      }

      .box-second {
        margin-left: 10rem;
			}
		}
	}
}