@media (min-width: 480px) {
	.wrapper {
		max-width: 48rem;
	}

	.hero-text {
		padding-left: 0;
		padding-right: 0;
	}

	// HEADER
	.header {
		.hero-text {
			h1 {
				font-size: 2rem;
			}

			.company-description {
				font-size: 2.7rem;
			}
		}
	}

	// MAIN
	.main {
		.aboutus {
			margin: 2.5rem 0;

			&__header {
				font-size: 2.6rem;
			}

			&__box {
				margin-top: 2.5rem;

				&-content {
					margin-top: 2.5rem;
					padding: 0;

					&-title {
						font-size: 2rem;
					}

					&-description {
						margin-top: 1.5rem;
						font-size: 1.4rem;
					}
				}
			}
		}

		.adventure {
			.hero-text {
				.hero-description {
					padding: 2rem 7.5rem;
					font-size: 2rem;
				}
			}
		}
	}

	// FOOTER
	.footer {
		&__boxes {
			grid-template-columns: repeat(2, auto);
			padding: 3rem 0;

			.footer__box {
				margin-top: 0;

				&-title {
					font-size: 2rem;
				}

				&-list {
					margin-top: 1.2rem;

					&-item {
						margin-top: 1.2rem;

						a {
							font-size: 1.6rem;
						}
					}
				}
			}

			.box-third,
			.box-fourth {
				margin-top: 1.5rem;
			}
		}
	}
}
