@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: $dark;
	background-color: $white;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $white;
	padding-left: 1.5rem;
	padding-right: 1rem;
}

.check {
	mask: url('../img/checkSvg.svg') no-repeat;
	background: $green;
	width: 1.6rem;
	height: 1.6rem;
}

.minus {
	mask: url('../img/minusSvg.svg') no-repeat;
	background: $dark;
	width: 1.6rem;
	height: 1.6rem;
}

.arrow {
	mask: url('../img/arrowSvg.svg') no-repeat;
	background: $dark;
	width: 1.6rem;
	height: 1.6rem;
}

.visible {
	display: block !important;
}

/* NAV */
.nav {
	position: fixed;
	// position: sticky;
	top: 0;
	height: 8rem;
	width: 100%;
	background-color: $light-white;
	display: flex;
	border-bottom: 1px solid $dark;
	z-index: 1;

	.hamburger {
		z-index: 100;
	}

	&__logo {
		display: none;
	}

	.navigation {
		display: none;
	}

	.mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $white;
		transform: translateX(-102%);
		transition: transform 0.3s;
		z-index: 10;

		&--active {
			transform: translateX(0);
			z-index: 1;
		}

		.item--mobile {
			display: block;
			position: relative;
			width: 200px;
			// align-content: flex-end;
			margin: 1rem 0;
			padding: 1rem 4rem;
			font-size: 2.3rem;
			color: $dark;
			text-transform: uppercase;
			text-decoration: none;
			// transition: color 0.3s;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
				height: 100%;
				transform: scaleY(0);
				background-color: $darker;
				transition: transform 0.3s;
				content: '';
			}

			&:hover {
				color: $darker;
			}

			&:hover::before {
				transform: scaleY(1);
			}
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

/* HEADER */
.header {
	position: relative;
	height: 33rem;
	margin-top: 8rem;
	background-image: url('../../img/jungleSmall.jpg');
	background-size: cover;
	background-position: center;

	.hero-text {
		h1 {
			font-size: 1.8rem;
			font-weight: 400;
		}

		.company-description {
			margin-top: 0.5rem;
			font-size: 2.3rem;
			font-weight: 700;
		}
	}
}

// MAIN
.main {
	.aboutus {
		margin: 2rem 0;

		&__header {
			font-size: 2.4rem;
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
		}

		&__box {
			display: grid;
			margin-top: 2rem;

			&-image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
			}

			&-content {
				margin-top: 2rem;
				padding: 0 1.5rem;

				&-title {
					font-size: 1.8rem;
				}

				&-description {
					margin-top: 1rem;
					font-size: 1.3rem;
					line-height: 2.5rem;
				}
			}
		}
	}

	.adventure {
		position: relative;
		height: 28rem;
		background-image: url('../img/girlSmall.jpg');
		background-size: cover;
		background-position: center;

		.hero-text {
			display: flex;
			justify-content: center;

			.hero-description {
				border: 1px solid $white;
				padding: 2rem 4rem;
				font-size: 1.6rem;
				font-weight: 700;
			}
		}
	}

	.offer {
		&__header,
		&__description,
		.offers,
		&__more {
			margin-top: 2rem;
			text-align: center;
		}

		&__header {
			font-size: 2.4rem;
			font-weight: 400;
			text-transform: uppercase;
		}

		.offers {
			margin-bottom: 2rem;
			display: flex;
			align-items: center;
			flex-direction: column;

			&__box {
				height: 330px;
				width: 260px;
				margin: 1.5rem;
				background-color: $white;
				border-radius: 1rem;
				box-shadow: 0px 5px 20px -5px $dark;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				flex-direction: column;

				&-title {
					font-size: 2.5rem;
				}

				&-price {
					font-size: 3rem;
					font-weight: 700;
				}

				ul {
					li {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 1.6rem;
						line-height: 2rem;
						list-style: none;

						i {
							margin-right: 0.5rem;
						}
					}
				}

				&-btn {
					padding: 0.7rem 4rem;
					font-size: 1.5rem;
					background-color: $white;
					border: none;
					border-radius: 0.5rem;
					box-shadow: 0px 5px 20px -5px $dark;

					&:hover {
						background-color: $green;
						box-shadow: 0px 5px 10px 0px $green;
					}
				}
			}
		}

		&__more {
			margin: 2rem 0 4rem;

			&-btn {
				padding: 0.7rem 3.5rem;
				font-size: 1.5rem;
				background-color: $white;
				border: none;
				border-radius: 0.5rem;
				box-shadow: 0px 5px 20px -5px $dark;

				&-link {
					display: flex;
					align-items: center;
					color: $darker;
					text-decoration: none;

					i {
						margin-left: 0.5rem;
					}
				}

				&:hover {
					background-color: $green;
					box-shadow: 0px 5px 10px 0px $green;
				}
			}
		}
	}

	// CONTACT PAGE
	.contact {

		display: grid;

		&__title {
			text-align: center;
			padding: 4rem 0;
			font-size: 2.6rem;
			font-weight: 400;
		}

		&__map {
			width: 100%;
			padding-top: 0;
			background-size: cover;
			background-position: center;
			margin-bottom: 3rem;
		}

		&__form,
		&__form-top {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
		}

		&__form {
			min-height: 450px;
			width: 92%;
			background-color: $light-white;
			padding: 2rem;
			margin-left: 1.5rem;
			margin-bottom: 4rem;
			border-radius: 2rem;
		}

		&__form-top { 
			width: 65%;
		}

		&__form-label {
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		&__form-input {
			width: 100%;
			margin-bottom: 2rem;
			padding: 0.6rem 1.2rem;
			border: none;
			border-radius: 8px;
			font-size: 1.6rem;

			&:focus {
				outline: 2px solid $green;
			}
		}

		&__form-textarea {
			margin-bottom: 2rem;
			padding: 0.6rem 1.2rem;
			border: none;
			border-radius: 8px;
			font-size: 1.6rem;

			max-width: 100%;
			min-width: 100%;
			width: 100%;
			min-height: 150px;

			&:focus {
				outline: 2px solid $green;
			}
		}

		&__form-btn {
			align-self: flex-end;
			padding: 1rem;
			width: 100%;
			max-width: 150px;
			color: $darker;
			border: none;
			border-radius: 8px;
			background-color: $green;
			cursor: pointer;

			&::before {
				background-color: $dark;
				opacity: 0.1;
			}
		}

		.btn-special-animation {
			position: relative;
			transition: background-color 0.3s;
			overflow: hidden;
			z-index: 0;
		
			&::before {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 0.3s;
				z-index: -1;
			}
		
			&:hover::before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}

// FOOTER
.footer {
	background-color: $light-white;

	&__boxes {
		display: grid;
		padding: 3rem 1.5rem;

		.footer__box {
			margin-top: 1.5rem;

			&-title {
				color: $darker;
			}

			&-list {
				margin-top: 0.8rem;

				&-item {
					margin-top: 1rem;
					list-style: none;

					a {
						color: $dark;
						text-decoration: none;
						cursor: pointer;

						&:hover {
							color: $darker;
						}
					}
				}
			}
		}

		:nth-child(1) {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			text-decoration: none;
			margin-top: 0;

			.footer__box-title {
				font-weight: 400;
				font-size: 3.2rem;
				color: $darker;

				.footer__box-logo {
					mask: url('../img/treeSvg.svg') no-repeat;
					background: $dark;
					width: 3.2rem;
					height: 3.2rem;
					margin-right: 0.5rem;
				}
			}
		}
	}

	&__bottom-text {
		padding: 1.5rem 0;
		border-top: 1px solid $dark;
		text-align: center;
	}
}

@import './small';
@import './medium';
@import './large';